@CHARSET "UTF-8";

.personUi{
	width:1100px;
	height:900px;
	border:1px solid red;
	background-image: url(../i/f12.jpg) #ff8040 no-repeat;
}

#Userimag{
	width:350px;
	height:900px;
	float: left;
	margin-top: 10px;
}

#host input{
	width:400px;
	height:200px;
}
#replyhost input{
	width:400px;
	height:200px;
}

#everyLiTag li{
	list-style-type: none;
}
li{
	list-style-type: none;
}

.aaa26{
	width:50px;
	height:50px;
	background:red;
	border-radius:50%;
	position:relative;
	left:260px;
}
.name{
	position:relative;
	top:-50px;
	left:60px;
}
.wdate{
	font-size:13px;
	float:left;
	margin-left:58px;
	margin-top:-50px;
}
.wcontent{
	width:500px;
	float:left;
	margin-left:320px;
	margin-top:-810px; 
	border:none; 
}
.bianji{
	font-size:11px;
	padding: 1px 10px;
	border: 1px solid red;
	border-radius:10px;
	float:left;
	margin-left:520px;
	margin-top:-784px;
}
.fabiao{
	font-size:11px;
	padding: 1px 10px;
	border: 1px solid red;
	border-radius:10px;
	float:left;
	margin-left:570px;
	margin-top:-784px;
}

.comment,.huifu{
	position:relative;
	left:40px;
	top:10px;
}
.aaa29{
	width:50px;
	height:50px;
	background:#ff8080;
	border-radius:50%;
	position:relative;
	left:290px;
	top:8px;
}
.a29name{
	position:relative;
	top:-44px;
	left:60px;
}
.wcontenta29{
	width:500px;
	border:none;
	position:relative;
	top:-10px;
}
#aa29{
	position:relative;
	left:290px;
	top:-690px;
}
.bianjia29,.fabiaoa29{
	font-size:11px;
	padding: 1px 10px;
	border: 1px solid red;
	border-radius:10px;
	position:relative;
	top:12px;
	left:-110px;
}

.huiaa26{
	width:50px;
	height:50px;
	background:red;
	border-radius:50%;
	position:relative;
	left:290px;
	top:-68px;
}
.huiaa26name{
	position:relative;
	top:-120px;
	left:60px;
}
.huiaa26wdate{
	font-size:13px;
	position:relative;
	top:-120px;
	left:60px;
}
.huiaa26edit{
	width:500px; 
	border:none; 
	position:relative;
	top:-110px;
}
.huibianjia26,.huifabiaoa26{
	font-size:11px;
	padding: 1px 10px;
	border: 1px solid red;
	border-radius:10px;
	position:relative;
	top:-88px;
	left:-150px;
}
.fabiao-btn,.quxiao_btn{
	font-size:11px;
	padding: 1px 10px;
	border: 1px solid #9c9c9c;
	border-radius:10px;
	color:#9c9c9c;
	background:none;
}
#leaveMsg{
	margin-top:-90px;
}

/* #host{
	border: 1px solid red;
} */
.showwords{
		border: 1px solid #00ff80;
		height:100px;
} 
.showcomment {
	border: 1px solid #ff0000;
		height:100px;
}
.showreplys{
	border: 1px solid #ff00ff;
		height:100px;
}

