<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.SpeaksMapper">
	<resultMap type="Speaks" id="SpeaksMap">
		<id column="sid" property="sid"/>
		<result column="content" property="content"/>
		<result column="files" property="files"/>
		<result column="senddate" property="senddate"/>
		<association property="users" column="speakman" javaType="Users">
			<id column="speakman" property="aid"/>
			<result column="nickname" property="nickname"/>
		</association>
	</resultMap>
	<select id="findSpeaks" parameterType="string" resultMap="SpeaksMap">
		select * from users u join speaks s on s.speakman=#{speakman} and u.aid=s.speakman
	</select>
	
	<resultMap type="Comments" id="ComUsersMap">
		<id column="cid" property="cid"/>
		<result column="detail" property="detail"/>
		<result column="comTime" property="comTime"/>
		<association property="users" column="ruserid" javaType="Users">
			<id column="ruserid" property="aid"/>
			<result column="nickname" property="nickname"/>
			<result column="picture" property="picture"/>
		</association>
	</resultMap>
	<select id="listComments" parameterType="string" resultMap="ComUsersMap">
		select * from comments c join users u on c.comuserid=u.aid and c.callid=#{callid}
	</select>
	
	


</mapper>