<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.SpeaksMapper">
	<resultMap type="Speaks" id="SpeaksMap">
		<id column="sid" property="sid"/>
		<result column="content" property="content"/>
		<result column="files" property="files"/>
		<result column="senddate" property="senddate"/>
		<association property="users" column="speakman" javaType="Users">
			<id column="speakman" property="aid"/>
			<result column="nickname" property="nickname"/>
		</association>
	</resultMap>
	<select id="findSpeaks" parameterType="string" resultMap="SpeaksMap">
		select * from users u join speaks s on s.speakman=#{speakman} and u.aid=s.speakman
	</select>
	

	<insert id="addSpeaks" parameterType="Speaks">
		insert into speaks(sid,content,speakman,files,senddate)
		values('s'||seq_speaks_sid.nextval,#{content},#{speakman}
		,#{files},to_char(sysdate,'yyyy-MM-dd'))
	</insert>
</mapper>
